* {
}
.App {
    min-height:100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inconsolata', monospace;
    background-image:    url(./assets/images/bgImg.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position:center center;
  }

.footer{
    margin-top: auto;
    font-size:xx-large;
    text-align: center;
    width: 100%;
    bottom:0;
  
}
.footer-icon{
padding: 0 40px 0 40px;
color: seagreen;
font-size:35px;
}
.footer-icon:hover{
color: white;
transition: .25s;
    }
.about-text {
    padding: 0 200px 0 200px
}
.navibar {
    margin:auto;
    justify-content:space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.kevin{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;

}
.button {
    background-color: seagreen;
    color:aqua
}
.project {
    background-color: seagreen;
}
.project-text {
    color:white;
    padding: 10px;
}
.navbar a {
    color: seagreen
}
h3 {
    color:seagreen
}
 .active {
    color: seagreen;
}
.menu-icon{
    color:white;
}
.nav-link i {
    margin-right: 10px;
}
.resume-text {
    color:black
}

.resume-container li {
    color: black;
font-size:large;
}

@media screen and (max-width: 780px) {
    .menu-icon{
        visibility: visible;
    }
    .navibar {
        padding: 0;
    }
    .navbar {
         width: 100vw;
    }
    .about-text{
        padding: 0 20px 25px 20px;
    }
    .kevin {
        width:50%;
    }
    .resume-text {
        color:white
    }
    .title{
        text-align: center;
    }
    
} 